body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: -63px;
  background: rgb(49, 45, 44);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#drop {
  min-height: 150px;
  width: 250px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

div.title {
  
  text-align: center;
  width: auto;
  position: relative;
  top: 250px;
  left: -250px;
  font-size: 128px;
  transform: rotate(-7deg);
  font-family: 'Righteous', cursive;
  color: white ; 
}

.subHeaderImage {
  float: right;
  size: 200px;
  width: 25% !important
}

#reportBtn {
  position: relative;
  left: 300px;
  top: 500px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#submitBtn {
  position: relative;
  top: 523px;
  left: 23px;
}

#helpBtnText {
  position: relative;
  left: 600px;
  top: 470px;
  color: white;
}

#submitBtn2 {
  position: relative;
<<<<<<< HEAD
  top:523px;
  left: 323px;
}

#helpBtn {
  position: relative;
  left: 600px;
  top: 500px;
  font-family: 'Open Sans', sans-serif;
  color: white; 
=======
  left: 25px;
  top: 25px;
>>>>>>> 1c0aaf44baa39b1cd0ceb515344533bf2b12269e
}
