.subtitle{
    padding-top: 30px;
    font-size: 30px;
}

.exp{
    width: 100%;
    background-color: rgb(44, 87, 167) !important;
    color: white;
    height: 60px;
    font-size: 25px;
}

.exp:hover{
    background-color: rgb(66, 18, 155) !important;
    cursor: pointer;
}

.panel{
    max-height: 0px;
    padding: 0px 18px;
    transition: max-height 0.5s ease-out;
}